#include "resource.h"
#include <windows.h>

IDD_DIALOG DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Junction Box Setup"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Browse...",IDC_BROWSE_BTN,10,10,60,14
    DEFPUSHBUTTON   "OK",IDC_OK_BTN,110,110,50,14
    PUSHBUTTON      "Cancel",IDC_CANCEL_BTN,170,110,50,14
END
